.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0 0 0 18px;
  align-self: center;
  background-image: url(../../../images/Edit_Button.svg);
  background-size: cover;
  border: none;
  background-color: #000;
  cursor: pointer;
  transition: .2s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 577px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}